
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="~/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/fonts/font-face.css">
	<link rel="stylesheet" href="~/css/style.css">
	<!--Font awesome-->
	<link rel="stylesheet" href="~/css/all.min.css">

	<!--Slick slider-->
	<link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
	<!--Add the new slick-theme.css if you want the default styling-->
	<link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />

	<!--Favicon-->
	<link rel="icon" type="image/png" href="~/img/favicon.png" size="300x300">

	<!--Animate css-->
	<link rel="stylesheet" type="text/css" href="~/css/animate.min.css">
    <link href="~/notifications.css" rel="stylesheet" />
	<style>
		a{
			text-decoration:none !important;
			color:unset;
		}

		a:hover {
						text-decoration: none !important;
						color: unset;
		}
	</style>
	<title>گالری طلا و جواهرات</title>
</head>
<body>
	<div id="wrapper">
		<!-- Header -->
		@await Component.InvokeAsync("Header")
		<!-- Main -->
		@RenderBody()
		<!--footer-->
		<footer class="row w-100 m-0 d-flex justify-content-center">
			<div class="row d-flex flex-column align-items-center mt-2 w-100">
				<img src="~/img/logo-white1.png" class="mt-1" href="#" alt="logo" />
				<p class="text-center w-50 text-white font-12">
					لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
					چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است
				</p>
				<div class="row social-footer d-flex justify-content-center">
					<a href="https://www.instagram.com/silver_cluster/" class="m-2"><i class="fab fa-instagram p-1"></i></a>
					<a href="https://t.me/silver_cluster" class="m-2"><i class="fab fa-telegram p-1"></i></a>
				</div>

				<div class="row my-2 d-flex flex-md-row flex-column-reverse justify-content-center">
					<div class="col-12 col-md-3">
						<div class="d-flex flex-column align-items-center">
							<a href="https://enamad.ir"><img src="~/img/enamad-full-star.png" class="rounded bg-light"></a>
						</div>
					</div>
				@*	<div class="col-12 col-md-3">
						<div class="footer-items d-flex flex-column align-items-center text-white text-center">
							<h6 class="border-bottom border-white p-2">لینک های مفید</h6>
							<ul class="list-unstyled">
								<li><a href="#" class="font-12">درباره ما</a></li>
								<li><a href="#" class="font-12">فروشگاه جواهرات</a></li>
								<li><a href="#" class="font-12">قوانین و مقررات</a></li>
								<li><a href="#" class="font-12">حریم خصوصی</a></li>
							</ul>
						</div>
					</div>*@
					<div class="col-12 col-md-3">
						<div class="footer-items d-flex flex-column align-items-center text-white text-center">
							<h6 class="border-bottom border-white p-2">حساب کاربری</h6>
							<ul class="list-unstyled">
								<li><a asp-controller="Order" asp-action="UserPaidOrders" class="font-12">سفارشات من</a></li>
								<li><a asp-controller="Order" asp-action="UserOpenOrder" class="font-12">سبد خرید من</a></li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-md-3">
						<div class="footer-items d-flex flex-column align-items-center text-white text-center">
							<ul class="list-unstyled">
								<li><p href="#" class="font-12 m-0">تلفن: 09197864453</p></li>
								<li><p href="#" class="font-12 m-0">sadralajevardi790@gmail.com :ایمیل</p></li>
							</ul>
						</div>
					</div>

				</div>
				<div class="scroll-up-btn mr-auto ml-3">
					<a href="#scroll">
						<i class="far fa-arrow-alt-circle-up fa-2x"></i>
					</a>
				</div>
			</div>

		</footer>
	</div>
 
	<script src="~/js/jquery-3.5.1.slim.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.min.js"></script>
	<!-- slick slider scripts -->
	<script type="text/javascript" src="~/slick/slick.min.js"></script>
	<script src="~/js/index.js"></script>
	<script src="~/js/wow.min.js"></script>
	<script src="~/notifications.js"></script>
	<script src="~/custom.js"></script>
	<partial name="_SiteMessages" />
	<script>
		new WOW().init();
		function navigateHeader(where) {
			window.location.replace(where)
		}
		function onSuccessAddProductToOrder(res) {
			console.log(res)
			ShowMessage('پیغام', res.message, res.status.toLowerCase())
			close_waiting()
		}
		$('#productCounter').change(function (e) {
			let value = parseInt(e.target.value);
			if (value && value > 0) {
				$('#add-product-to-order-count').val(value);
			}
		})
		$('#productSizeCounter').change(function (e) {
			let value = parseInt(e.target.value);
			if (value && value > 0&&value<7) {
				$('#add-product-to-order-size').val(value);
			}
		})

		function submitForm(formId) {
			$(formId).submit();
			open_waiting()
		}
		function removeProductFromOrder(detailId) {
			console.log("kherherkjhkj")
			fetch("/remove-order-item/" + detailId)
				.then(res => {
					return res.json()

				}).then(data=>{
					console.log(data)
					ShowMessage('پیغام', data.message, data.status.toLowerCase())
					if (data.isFinally) setTimeout(() => { window.location.reload() }, 1500)
					// $("#user-open-order-wrapper").html(res.data);

				})
				.catch(err => {

				})
		}

		function changeOrderDetailCount(e, detailId) {
			console.log(e)
			fetch("/change-detail-count/" + detailId + "/" + e.value)
			.then(res=>{
					window.location.reload()
					return res.json()
				}).then(data=>{
					
				}).catch(err => {

				})
		}
	</script>
</body>
</html>